body{
  color:black; 
  background:mediumpurple;
  margin: 0px;
}

header {
  border-bottom: solid 2px rgb(250, 250, 210)
  padding: 20px;
  font-size: 32px;
  color: rgb(250, 250, 210);
}

section{
  background: rgb(225, 225, 203);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-center;
}

div{
  margin-right: 20px;
}
